@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    font-family: "Poppins", sans-serif;
  }
}

body {
  @apply bg-white;
}

.dark body {
  @apply bg-black;
}

@media (max-width: 1200px) {
  /* XL: Extra large screens-15px */
  :root {
    font-size: 0.9375rem;
    /* For screens 1200px and smaller */
  }
}

@media (max-width: 768px) {
  /* MD: Medium screens-14px  */
  :root {
    font-size: 0.875rem;
    /* For screens 768px and smaller */
  }
}

@media (max-width: 550px) {
  /* SM:Small screens -11px */
  :root {
    font-size: 0.6875rem;
    /* For screens 390px and smaller */
  }
}

/*Custom-scrollbar*/

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f1f3f9;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #9d9ea1;
    border-radius: 10px;
    border: 2px solid #f1f3f9;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #69957b;
  }
}
